*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('background.png');
    background-size: cover;
}

.formcontainer{
    
    position: absolute;
    top: 18vh;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 50px #000;
    color:#1E1E1E;
    font-size:14px;
    font-weight:bold;
    width:30%;
    background: #004b2db8;

}
